/* styles/technology.css */
.tech-container {
    padding: 50px;
    text-align: center;
  }
  
  .tech-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .tech-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  .tech-card h2 {
    color: #0077b6;
  }
  